.page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20vh 0;
}

#searching img {
    aspect-ratio: 1;
    margin-top: 10vh;
    height: 5vh;
    animation: search-icon 1s linear infinite;
}

@keyframes search-icon {
    0% {
        transform: translate(-100%, -50%);
    }
    25% {
        transform: translate(100%, 50%);
    }
    50% {
        transform: translate(100%, -50%);
    }
    75% {
         transform: translate(-100%, 50%);
    }
    100% {
        transform: translate(-100%, -50%);
    }
}

#found_opponent p {
    margin-top: 10vh;
}

#playing {
    padding: 0;
}

#playing_opponent_stats, #playing_me_stats {
    height: 5vh;
    border-bottom: 2px solid black;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    background-color: white;
}

#playing_opponent_munitions, #playing_me_stats {
    font-size: 3vh;
}

#playing_me_stats {
    bottom: 0;
    border-top: 2px solid black;
    border-bottom: 0;
}

#playing_timer {
    position: absolute;
    border: 2px solid black;
    height: 6vh;
    aspect-ratio: 2;
    text-align: right;
    right: 0;
    top: 10vh;
    font-size: 4vh;
    padding: .7vh;
    border-right: 0;
}

#playing_me_card, #playing_opponent_card {
    position: absolute;
    aspect-ratio: 0.62;
    height: 25vh;
    border-radius: 2vh;
    z-index: 100;
}

#playing_me_card {
    bottom: 3vh;
    border: 1vh solid black;
    background-color: white;
}

#playing_opponent_card {
    transition: 200ms;
    background-color: black;
}

#playing_deck {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    height: 25vh;
}

.deck-card {
    aspect-ratio: 0.62;
    height: 20vh;
    border-radius: 2vh;
    border: .7vh solid black;
    background-color: white;
    position: absolute;
    top: 2vh;
    left: 0;
}

#playing_card_name {
    position: absolute;
    bottom: 40vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vh;
}